@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style type="text/css">
    #banner {
        background-image: url("~/Content/IMG/do-mixi-nhap-vien.jpg");
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;

    }
    .banner-content{
        text-align:center;
        color:white;

    }

    .banner-content h2{
        font-size:2.5rem;

    }
    .banner-content p{
        font-size: 2rem;

    }
    .btn{
        display: inline-block;
        padding: 5px 20px;
        background-color: chocolate;
        color: white;
        text-decoration:none;
        font-weight:bold;
    }
    #featureProd{
        text-align:center;
    }
    #featureProd h2{
        font-size:2rem;
        margin-bottom:20px;
    }
    .productContainer{
        display:flex;
        justify-content:center;
        gap:10px;
    }
    .product-item{
        width:200px
    }
    .product-item img{
        max-width:150px;
    }
    .product-item h3{
        font-size:16px;
        color:black;
        margin:10px 0px;
    }
    .prodDescription{
        font:arital;
        font-size:10px;
        color:lightgrey;
    }
    .prodPrice{
        font-size:12px;
        color:black;
        font-weight:bold;
    }
    

</style>

<section class="banner">
    <div class=banner-coontent>
        <h2>Chào mừng đến với cửa hàng của chúng tôi!</h2>
        <p>Have a goodday! Bạn muốn ăn gì?</p>
        <a href="#"  class="btn">Bắt đầu chọn món</a>
    </div>
</section>

   
        <section class="search" id="content-section">

        </section>
        <section class="featureProd" id="content-section">
            <h2>Sản phẩm nổi bật</h2>
            <div class="container">
                <div class="product-item">
                    <img src="~/Content/IMG/istockphoto-1207976129-1024x1024.jpg" />
                    <h3>Gà không cay</h3>
                    <p class=" prodDescription">Hương vị truyền thống</p>
                    <p class="prodPrice">45.000vnđ</p>
                </div>
                <div class="product-item">
                    <img src="~/Content/IMG/istockphoto-1207976129-1024x1024.jpg" />
                    <h3>Gà sốt cay</h3>
                    <p class=" prodDescription">Hương vị Hàn Quốc</p>
                    <p class="prodPrice">55.000vnđ</p>
                </div>
                <div class="product-item">
                    <img src="~/Content/IMG/istockphoto-1207976129-1024x1024.jpg" />
                    <h3>Gà sốt tiêu</h3>
                    <p class=" prodDescription">Hương vị mới mẻ</p>
                    <p class="prodPrice">65.000vnđ</p>
                </div>
            </div>
        </section>
        <section id="productList">

        </section>
    
